.jumbotron{
  position:relative;
  background: #000 url("images/main.jpg") center center;
  background-attachment:fixed;
  min-height:300px;
  margin-bottom:0;
  background-size:cover;
  overflow:hidden;
    
}
 .navbar-toggle
 {
   color:#ccffdd;
}
.navbar-brand{
  font-size:25px;
  font-weight:bold;
}
.navbar-inverse .navbar-brand{
  color:#ccffdd;
}
.navbar-inverse .navbar-nav>li>a{
  color:#ccffdd;
  font-weight:bold;
}
.popover{
  display:flex;
  min-width:350px;
  /*min-height:500px;*/
  position:fixed;
  left:50%;
  top:10%;
  background-color:#fff;
  border-width:4px;
  border-style:inset;
  border-color:white;
}
.form-group{
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:5px;
}
.form-control{
  background-color:gray;
  width:100%;
  color:#fff;
}
.btn{
  color:white;
  background-color:gray;
  position:relative;
  left:20%; 
}
#cancel{
  position:absolute;
  left:60%;

}
.g-recaptcha{
  padding-left:20px;
  padding-bottom:10px;
}
   