body {
    background-image: url("images/mkImages/2.jpg");
    background-attachment: fixed;

    color: #9ac4e1;
    font-size: 87.5%;
    font-family: "Helvetica Neue", Helvetica, Arial;
    line-height: 1.5;
    text-align: left;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color: #9ac4e1;
}
a:link, a:visited{

}
a:hover, a:active{

}

.body {
    margin: 0;
    clear: both;

}
.sectblank #slideshow {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    position: fixed;

}
.sectblank #slideshow img {
    height: 100%;
    width: 100%;
    overflow: visible;

}#pager {
     height: 20%;
     width: 100%;
     position:absolute;
     bottom: 1%;
     background: rgba(0,0,0,.5);
     z-index: 1000;
     opacity: 1;
     transition: all 0.3s ease-in-out 0s;
 }



/*navigation bar*/
#box{
    position:fixed;
    overflow: hidden;
    z-index: 2600;
}
#container{
    background-color: rgba(13, 14, 16, 0.75);
    height:100%;
    width:200px;
    left:-200px;
    display:block;
    position:fixed;
    overflow: hidden;
    top:0;
    z-index: 2600;
    transition: left 0.3s linear;
}

#container.visible{
    left:0;
    transition: left 0.3s linear;
}

#sidebarbtn {
    display:inline-block;;
    vertical-align: middle;
    width: 30px;
    height:25px;
    cursor:pointer;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: fixed;
    z-index: 2800;
    overflow: hidden;
    background-color: rgba(13, 14, 16, 0.75);
    transition: left 2s linear;
}
#sidebarbtn span{
    height:2px;
    background:#cf5a30;
    display: block;
    margin: 5px;}
#sidebarbtn.visible{
    left:200px;
    transition: left 2s linear;
}




#container ul {

    list-style: none;
    margin: 0;
    padding:0;
}

#container ul li {
    list-style: none;
}




#container a:link a:visited {
    color: #f9edb4;
    display: inline-block;
    padding: 10px 25px;
}

   #container  a:hover, #container a:active,
#container  .active a:link, #container .active a:visited {
      background-color: rgba(207, 64, 5, 0.55);
      text-shadow: #111111;
      display: inline-block;
  }



#container ul li a {
   background: rgba(17, 14, 14, 0.79);
    color: #cf5a30;
    border-bottom:1px solid rgba(35, 34, 34, 0.85);
    display:block;
    width:180px;
    padding:15px;
    text-decoration: none;
    /*navigatino bar*/
}
#container.visible{
    left:0;
}


.mainContent {
    border-radius: 5px;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4% 5%;
    transition: left 2s linear;
}


.content {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    z-index: 2400;

}

#eucontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 4%;

    font-size: 16px;}

#ukcontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;
    position: relative;
}


#italycontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#spaincontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#francecontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#germanycontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#netherlandscontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#irelandcontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#belgiumcontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#turkeycontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}
#polandcontent {
    border-radius: 5px;
    background-color: rgba(16, 17, 20, 0.6);
    color: #ffffff;
    height: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    font-size: medium;}

.sectblank{

    }
    .secteu{
    height:100%;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1500;
    position: relative;

    background-image: url("images/mkImages/europe.jpg")
    }


    .sect1{
        height:100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

    background-image: url("images/mkImages/uk.jpg")

    }
    .sectcity{
        height:100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;


    }

    .sect2 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/italy.jpg")

    } .sect3 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/spain.jpg")

    } .sect4 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/france.jpg")

    } .sect5 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/germany.jpg")

    } .sect6 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/netherland.jpg")

    } .sect7 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/italy.jpg")

    } .sect8 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/italy.jpg")

    } .sect9 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/italy.jpg")

    } .sect10 {
        height: 100%;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        z-index: 1500;
        position: relative;

        background-image: url("images/mkImages/italy.jpg")

    }
.sect {
    height: 100%;
    background-size: cover;
}
.subSection{
    height:50%;
    background-color: wheat;
    overflow: hidden;
    z-index: 1500;
    position: relative;
}
.city{
    
    height:100%;
    width:50%;
    margin: 2% 2%;
}


